params {
    reads = "samples.tsv"
    outdir = "results"
    reference = "/media/hdd/hackaton25/scikey/alignments/Bioinformatics_bootcamp_2025/S288C/GCF_000146045.2_R64_genomic.fna"
    index = "/media/hdd/hackaton25/scikey/alignments/Bioinformatics_bootcamp_2025/S288C/GCF_000146045.2_R64_genomic.fna.fai"
    fastqc = "/home/team_17_25/miniconda3/envs/nf-env/bin/fastqc"
    multiqc = "/home/team_17_25/miniconda3/envs/multiqc/bin/multiqc"
    fastp = "/home/team_17_25/miniconda3/envs/nf-env/bin/fastp"
    bwa = "/home/team_17_25/miniconda3/envs/nf-env/bin/bwa"
    gatk = "/home/team_17_25/miniconda3/envs/gatk/bin/gatk"
    samtools = "/home/team_17_25/miniconda3/envs/nf-env/bin/samtools"
}



profiles {
    prod {
        process.cleanup = 'success'
    }

}
